<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Message</title>
</head>
<body style="text-align: center;max-width: 400px;margin: auto;">
    <header style="background-color: black;padding: 10px;color: white;">
        <h1 style="opacity: 100%;">New Message</h1>
    </header>
    <div style="background-color: rgb(255, 255, 255);margin: 0%;padding: 5px;">
        <div style="background-color: rgba(0, 53, 68, 0.1);padding: 5px;">
            <h4>Dear admin, now you have a new message from {{email}}:</h4>
            <p>{{message}}</p>
            <p>Thanks,{{name}}.</p>
        </div>
    </div>
    <footer style="background-color: black;padding: 10px;color: white;">
        <p style="opacity: 100%;">Copy Right 2024@TheWayShop</p>
    </footer>
</body>
</html>