<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Message</title>
</head>
<body style="text-align: center;max-width: 400px;margin: auto;">
    <header style="background-color: black;padding: 10px;color: white;">
        <h1 style="opacity: 100%;">TheWayShop</h1>
    </header>
    <div style="background-color: rgb(255, 255, 255);margin: 0%;padding: 5px;">
        <div style="background-color: rgba(0, 53, 68, 0.1);padding: 5px;">
            <p>Greetings and Regards,

                Thank you so much for getting so many nice comments and feedback from you. You are very valuable to us and your comments help us to provide our services and products better and more efficiently.
                
                We are always trying to meet your needs and expectations and have a shopping experience that you are satisfied and comfortable with. Your comments are very valuable to us and help us make the necessary improvements to our store.
                
                Please let us know if you have any questions, suggestions or criticisms. Our support team is always ready to help you and answer your questions.
                
                Thank you again for your attention and cooperation. We believe that with your cooperation, we can improve our services and products and raise your shopping experience to a new level.
                
                With respect,
                TheWayShop</p>
        </div>
    </div>
    <footer style="background-color: black;padding: 10px;color: white;">
        <p style="opacity: 100%;">Copy Right 2024@TheWayShop</p>
    </footer>
</body>
</html>