<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body dir="rtl">
    <nav>
      <div style="background-color: #04AA6D;">
        <h1 style="color: white;font-size: 50px;margin-right: 3%;">کد بیان</h1>
      </div>
    </nav>
    <h3>برای تأیید حساب کاربری خود، لطفا از کد زیر استفاده کنید</h3>
    <h3 style="text-align: center;">{{code}}</h3>
    <hr color="black">
    <h3>در صورت نیاز با ما از طریق راه های ارتباطی زیر در تماس باشید:</h3>
      <h3>ایمیل:theweblogfromiran@gmail.com</h3>
      <h3>شماره تلفن:4249 139 937 98+</h3>
      <h3>لینکدین:<a style="text-decoration: none;" href="https://www.linkedin.com/in/seyedrezadrakhshan/">سید رضا
          درخشان</a>
    </h3>
</body>
</html>