<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="direction: rtl;background-color:#f1f1f1;">
    <nav>
      <div style="background-color: #04AA6D;">
        <h1 style="color: white;font-size: 50px;margin-right: 3%;">کد بیان</h1>
      </div>
    </nav>
    <div>
      <h3>به شدت سپاسگزارم که وقت گذاشتید و نظراتتان را با ما در میان گذاشتید.</h3>
      <h3>نظرات شما در مورد وب‌سایت ما بسیار ارزشمند است و ما از اینکه آراء و انتقاداتتان را با ما به اشتراک گذاشتید بسیار
        ممنونیم.</h3>
      <h3>تایید می‌کنم که نظراتتان کمک بزرگی به ما می‌کند تا بهبودهای لازم را بر روی وب‌سایتمان اعمال کنیم و تجربه کاربری
        شما را بهبود بخشیم.</h3>
      <h3> از پیشنهاداتتان بسیار متشکریم و واقعا ارزش قائلیم به اینکه نظراتتان را به اشتراک گذاشته‌اید.</h3>
      <h3>ما همیشه به دنبال بهبود و بهتر کردن خدمات خود هستیم و نظرات شما ما را در این راه یاری فراوان می‌کند.</h3>
      <h3>از شما مجدداً سپاسگزاریم و امیدواریم که در آینده نیز از نظرات سازنده‌تان بهره‌مند شویم.</h3>
    </div>
    <hr color="black">
    <h3>در صورت نیاز با ما از طریق راه های ارتباطی زیر در تماس باشید:</h3>
    <h3>ایمیل:theweblogfromiran@gmail.com</h3>
    <h3>شماره تلفن:4249 139 937 98+</h3>
    <h3>لینکدین:<a style="text-decoration: none;" href="https://www.linkedin.com/in/seyedrezadrakhshan/">سید رضا
        درخشان</a></h3>
</body>

</html>