{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
  <link rel="icon" type="image/x-icon" href="{% static "img/web.png" %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>کد بیان</title>
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
  <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>


<body dir="rtl" style="text-align: right;">
  {% include "member/include/header.html" %}
  {% if request.resolver_match.url_name == "addblog" %}
  <div class="container">

    <div class="row" style="justify-content: center;">
      <!-- left column -->

      <!-- edit form column -->
      <div class="col-md-9 personal-info" style="margin-top: 5%;">
        <form id="myForm" class="form-horizontal needs-validation" novalidate
          role="form" method="post">
          <fieldset>
            <legend>مقاله جدید</legend>
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{message}}
            </div>
            {% else %} 
            <div class="alert alert-success alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{message}}
            </div>
            {% endif %}
            {% endfor %}
            <hr color="black">
            {% csrf_token %}
            <div class="form-group">
              <label class="col-lg-3 control-label">عنوان :</label>
              <input name="title" required class="form-control" type="text" value="">
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">دسته بندی :</label>
              <select name="category" class="form-control" id="sel1">
                {% for category in categories %} 
                <option value="{{category.id}}">{{category.title}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label"> تگ ها :</label>
              <input class="form-control" type="text" id="mySearch" onkeyup="myFunction()" placeholder="جستجو.." title="Type in a category">
              <select name="tags" multiple class="form-control" id="myMenu">
                {% for category in categories %}
                <option value="{{category.id}}">{{category.title}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">متن :</label>
              <textarea class="form-control" id="editor" name="text" required></textarea>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary" style="margin-top: 3%;margin-right: 3%;">
                ایجاد</button>
            </div>
          </fieldset>
        </form>
        <script>
          CKEDITOR.replace('editor', {
            language: 'fa',
            filebrowserUploadUrl: '/ckeditor/upload/',

            // Other CKEditor configurations can be added here
          });

          function validateForm() {
            var editorContent = CKEDITOR.instances.editor.getData();
            if (editorContent.trim() === '') {
              document.getElementById('editorError').style.display = 'block';
              return false; // Prevent form submission
            }
            return true; // Allow form submission
          }

        </script>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container">
    <div class="row" style="justify-content: center;">
      <!-- left column -->

      <!-- edit form column -->
      <div class="col-md-9 personal-info" style="margin-top: 5%;">

        <form class="form-horizontal" role="form" method="post">
          <fieldset>
            <legend>مقاله جدید</legend>
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{message}}
            </div>
            {% else %}
            <div class="alert alert-success alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{message}}
            </div>
            {% endif %}
            {% endfor %}
            <hr color="black">
            {% csrf_token %}
            <div class="form-group">
              <label class="col-lg-3 control-label">عنوان :</label>
              <input name="title" required class="form-control" type="text" value="{{blog.title}}">
              <div class="valid-feedback"></div>
              <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">دسته بندی :</label>
              <select name="category" class="form-control" id="sel1">
                {% for category in categories %}
                {% if category.title == blog.category.title %}
                <option value="{{category.id}}" selected>{{category.title}}</option>
                {% endif %}
                <option value="{{category.id}}">{{category.title}}</option>
                {% endfor %}
              </select>
              <div class="valid-feedback"></div>
              <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label"> تگ ها :</label>
              <input class="form-control" type="text" id="mySearch" onkeyup="myFunction()" placeholder="جستجو.." title="Type in a category">
              <select name="tags" multiple class="form-control" id="myMenu">
                {% for category in categories %}
                {% if category in blog.tags.all %}
                <option value="{{category.id}}" selected>{{category.title}}</option>
                {% else %}
                <option value="{{category.id}}">{{category.title}}</option>
                {% endif %}
                {% endfor %}
              </select>
              <div class="valid-feedback"></div>
              <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">متن :</label>
              <textarea class="form-control" id="editor" name="text">{{blog.text}}</textarea>
              <div class="invalid-feedback" id="editorError"></div>
              <script>
                CKEDITOR.replace('editor', {
                  language: 'fa',
                  filebrowserUploadUrl: '/ckeditor/upload/',
                  // Other CKEditor configurations can be added here
                });
                function validateForm() {
                  var editorContent = CKEDITOR.instances.editor.getData();
                  if (editorContent.trim() === '') {
                    document.getElementById('editorError').style.display = 'block';
                    return false; // Prevent form submission
                  }
                  return true; // Allow form submission
                }

              </script>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary" style="margin-top: 3%;margin-right: 3%;">ثبت
                تغییرات</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  {% endif %}

</body>
<script>
  function myFunction() {
    var input, filter, select, options, option, i;
    input = document.getElementById("mySearch");
    filter = input.value.toUpperCase();
    select = document.getElementById("myMenu");
    options = select.getElementsByTagName("option");

    for (i = 0; i < options.length; i++) {
        option = options[i];
        if (option.textContent.toUpperCase().indexOf(filter) > -1) {
            option.style.display = "";
        } else {
            option.style.display = "none";
        }
    }
}
  </script>

</html>