{% load static %}
<div class="container-fluid bg-light mt-5 py-5">
    <div class="container pt-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Get In Touch</h5>
                <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor</p>
                <p class="mb-2"><i class="bi bi-geo-alt text-primary me-2"></i>Iran|Tehran</p>
                <p class="mb-2"><i class="bi bi-envelope-open text-primary me-2"></i>srdrakhshan@gmail.com</p>
                <p class="mb-0"><i class="bi bi-telephone text-primary me-2"></i>+98 937 139 4249</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Quick Links</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-body mb-2" href="{% url "shop:home" %}"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                    <a class="text-body mb-2" href="{% url "shop:about" %}"><i class="bi bi-arrow-right text-primary me-2"></i>About Us</a>
                    <a class="text-body mb-2" href="{% url "shop:service" %}"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>
                    <a class="text-body mb-2" href="{% url "shop:team" %}"><i class="bi bi-arrow-right text-primary me-2"></i>Meet The Team</a>
                    <a class="text-body mb-2" href="{% url "blog:blogs" %}"><i class="bi bi-arrow-right text-primary me-2"></i>Latest Blog</a>
                    <a class="text-body" href="{% url "shop:contact" %}"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Popular blog</h5>
                <div class="d-flex flex-column justify-content-start">
                    {% for i in popular %}
                    <a class="text-body mb-2" href="{% url "blog:blogdetail" i.id%}"><i class="bi bi-arrow-right text-primary me-2"></i>{{i.title}}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Newsletter</h5>
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-3" placeholder="Your Email">
                        <button class="btn btn-primary">Sign Up</button>
                    </div>
                </form>
                <h6 class="text-uppercase mt-4 mb-3">Follow Us</h6>
                <div class="d-flex">
                    <a class="btn btn-outline-primary btn-square me-2" href="https://github.com/rezadrakhshan"><i class="bi bi-github"></i></a>
                    <a class="btn btn-outline-primary btn-square me-2" href="https://discord.com/invite/imreza#3197"><i class="bi bi-discord"></i></a>
                    <a class="btn btn-outline-primary btn-square me-2" href="https://www.linkedin.com/in/seyedrezadrakhshan/"><i class="bi bi-linkedin"></i></a>
                    <a class="btn btn-outline-primary btn-square" href="http://t.me/Portfolio_my_BOT"><i class="bi bi-telegram"></i></a>
                </div>
            </div>
            <div class="col-12 text-center text-body">
                <a class="text-body" href="">Terms & Conditions</a>
                <span class="mx-1">|</span>
                <a class="text-body" href="">Privacy Policy</a>
                <span class="mx-1">|</span>
                <a class="text-body" href="">Customer Support</a>
                <span class="mx-1">|</span>
                <a class="text-body" href="">Payments</a>
                <span class="mx-1">|</span>
                <a class="text-body" href="">Help</a>
                <span class="mx-1">|</span>
                <a class="text-body" href="">FAQs</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white-50 py-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">&copy; <a class="text-white" href="https://github.com/rezadrakhshan">PetShop</a>. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>