{% load static %}
<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
                {% if request.resolver_match.url_name == 'home' %}
                <a href="{% url 'home:home' %}" class="nav-item nav-link active">Home</a>
                {% else %}
                <a href="{% url 'home:home' %}" class="nav-item nav-link ">Home</a>
                {% endif %}
                {% if request.resolver_match.url_name == 'about' %}
                <a href="{% url 'home:about' %}" class="nav-item nav-link active">About</a>
                {% else %}
                <a href="{% url 'home:about' %}" class="nav-item nav-link">About</a>
                {% endif %}
                {% if request.resolver_match.url_name == 'service' %}
                <a href="{% url 'home:service' %}" class="nav-item nav-link active">Service</a>
                {% else %}
                <a href="{% url 'home:service' %}" class="nav-item nav-link ">Service</a>
                {% endif %}
                {% if request.resolver_match.url_name == 'menu' %}
                <a href="{% url 'menu:menu' %}" class="nav-item nav-link active">Menu</a>
                {% else %}
                <a href="{% url 'menu:menu' %}" class="nav-item nav-link ">Menu</a>
                {% endif %}
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a href="{% url 'home:chefs' %}" class="dropdown-item">Our Team</a>
                        <a href="{% url 'comment:allcomment' %}" class="dropdown-item">Testimonial</a>
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'member:logout' %}" class="dropdown-item">Logout</a>
                        {% endif %}
                    </div>
                </div>
                {% if request.resolver_match.url_name == 'comment' %}
                <a href="{% url 'comment:comment' %}" class="nav-item nav-link active">comment</a>
                {% else %}
                <a href="{% url 'comment:comment' %}" class="nav-item nav-link ">comment</a>
                {% endif %}
            </div>
            {% if request.user.is_authenticated %}
            <a href="{% url 'member:profile' %}" class="btn btn-primary py-2 px-4">Profile/{{request.user.username}}</a>
            {% else %}
            <a href="{% url 'member:login' %}" class="btn btn-primary py-2 px-4">login/register</a>
            {% endif %}

            
        </div>
    </nav>

    
</div>