<!doctype html>
<!-- <html lang="en"> -->
<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ابزارچـه</title>
        <link rel="icon" type="image/x-icon" href="img/logo.ico">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css" integrity="sha384-+4j30LffJ4tgIMrq9CwHvn0NjEvmuDCOfk6Rpg2xg7zgOxWWtLtozDEEVvBPgHqE" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="sticky-top bg-sky-blue p-1 px-5" style="--bs-bg-opacity: 0.95;">
        <nav class="navbar navbar-expand-lg container" >
            <div class="container-fluid">
              <a class="navbar-brand" href="index.html"><img src="img/logo.svg" class="img-fluid" alt="" width="150px"></a>
                <div class="d-flex justify-content-lg-end">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="دنبال چی هستید؟" aria-label="Search">
                        <button class="btn btn-outline-blue-orange" type="submit">جستجو</button>
                    </form>
                    <button type="button" class="btn btn-primary position-relative mx-4">
                      <i class="bi bi-basket"></i>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        9
                        <span class="visually-hidden">محصول</span>
                      </span>
                    </button>
                    <a href="login.html"><button class="btn btn-outline-blue-orange">ورود / ثبت نام</button></a>
                </div>
              </div>
            </div>
        </nav>
    </div>
    <div class="p-1 shadow px-5 mb-3 bg-sky-blue" style="--bs-bg-opacity: 0.95;">
        <nav class="navbar navbar-expand-lg container" >
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor03">
                <!--  => center -->
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">خانه</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      دسته بندی ها
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item text-muted" href="search.html">ابزار های برقی و شارژی</a></li>
                      <li><a class="dropdown-item text-muted" href="search.html">ابزار های دستی و عمومی</a></li>
                      <li><a class="dropdown-item text-muted" href="search.html">ابزار های تخصصی گاراژی و کارگاهی</a></li>
                      <li><a class="dropdown-item text-muted" href="search.html">ابزار های بادی یا پنوماتیک</a></li>
                      <li><a class="dropdown-item text-muted" href="search.html">ابزار های اندازه گیری دقیق و لیزری</a></li>
                      <li><a class="dropdown-item text-muted" href="search.html">تاسیسات و آبرسانی</a></li>
                      <li><a class="dropdown-item text-muted" href="search.html">ابزار های باغبانی و کشاورزی</a></li>
                      <li><a class="dropdown-item text-muted" href="search.html">ابزار های جوش و برش</a></li>
                      <li><a class="dropdown-item text-muted" href="search.html">رنگ، چسب و پاک کننده های نانو</a></li>
                      <li><a class="dropdown-item text-muted" href="search.html">قفل و یراق آلات</a></li>
                      <li><a class="dropdown-item text-muted" href="search.html">ابزار های تراشکاری</a></li>
                      <li><a class="dropdown-item text-muted" href="search.html">صفحه سنگ فرز و سنباده</a></li>
                      <li><a class="dropdown-item text-muted" href="search.html">ایمنی و آتش نشانی</a></li>
                      <li><a class="dropdown-item text-muted" href="search.html">قطعات یدکی ابزارآلات</a></li>
                      <li><a class="dropdown-item text-muted" href="search.html">جرثقیل و ابزار لیفتینگ</a></li>
                      <li><a class="dropdown-item text-muted" href="search.html">برق و الکترونیک</a></li>
                  </ul>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="about.html">درباره ما</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="contact-us.html">تماس با ما</a>
                    </li>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </div>
    
    <a href="#" class="bg-danger text-dark d-flex rounded-circle justify-content-center align-items-center position-fixed opacity-85" style="right:10px; bottom:10px; width: 54px; height: 54px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg>
    </a>
    
    <div id="shop"></div>
    <!-- ads -->
    <main class="container-fluid mb-5">
      <div class="row">
      <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="true">
          <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="img/ads/4.jpg" class="d-block w-100"alt="...">
          </div>
          <div class="carousel-item">
              <img src="img/ads/3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
              <img src="img/ads/2.gif" class="d-block w-100" alt="...">
          </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
          </button>
      </div>
      </div>
    </main>
    <main class="container">
        <div class="px-4 py-5 my-5 text-center">
            <p class="display-4"><i class="bi bi-search"></i></p>
            <h1 class="display-5 fw-bold">نتایج جستجوی شما</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">بر اساس : قیمت، تعداد، کیفیت</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              </div>
            </div>
        </div>
        <div class="row gb-2">
          <div class="col-md-3 mb-4">
            <div class="position-sticky " data-bs-spy="scroll" style="top: 6rem;">
                <!--  accordion-flush -->
                <div class="accordion accordion shadow rounded" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          دسته بندی ها
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="list-group">
                                <a class="list-group-item list-group-item-action" href="#shop">ابزار های برقی و شارژی</a>
                                <a class="list-group-item list-group-item-action" href="#shop">ابزار های دستی و عمومی</a>
                                <a class="list-group-item list-group-item-action" href="#shop">ابزار های تخصصی گاراژی و کارگاهی</a>
                                <a class="list-group-item list-group-item-action" href="#shop">ابزار های بادی یا پنوماتیک</a>
                                <a class="list-group-item list-group-item-action" href="#shop">ابزار های اندازه گیری دقیق و لیزری</a>
                                <a class="list-group-item list-group-item-action" href="#shop">تاسیسات و آبرسانی</a>
                                <a class="list-group-item list-group-item-action" href="#shop">ابزار های باغبانی و کشاورزی</a>
                                <a class="list-group-item list-group-item-action" href="#shop">ابزار های جوش و برش</a>
                                <a class="list-group-item list-group-item-action" href="#shop">رنگ، چسب و پاک کننده های نانو</a>
                                <a class="list-group-item list-group-item-action" href="#shop">قفل و یراق آلات</a>
                                <a class="list-group-item list-group-item-action" href="#shop">ابزار های تراشکاری</a>
                                <a class="list-group-item list-group-item-action" href="#shop">صفحه سنگ فرز و سنباده</a>
                                <a class="list-group-item list-group-item-action" href="#shop">ایمنی و آتش نشانی</a>
                                <a class="list-group-item list-group-item-action" href="#shop">قطعات یدکی ابزارآلات</a>
                                <a class="list-group-item list-group-item-action" href="#shop">جرثقیل و ابزار لیفتینگ</a>
                                <a class="list-group-item list-group-item-action" href="#shop">برق و الکترونیک</a>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          محدوده قیمت
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-label="از" value="0">
                                <span class="input-group-text">تومان</span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-label="تا" value="5000000">
                                <span class="input-group-text">تومان</span>
                            </div>                              
                            <div class="d-flex align-items-center">
                            <label for="customRange3 w-25" class="form-label">1000</label>
                            <input type="range" class="form-range w-75" min="0" max="1000" step="1" id="customRange3">
                            <label for="customRange3 w-25" class="form-label">0</label>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item p-3">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="flexSwitchCheckChecked">فقط کالاهای موجود</label>
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        </div>
                    </div>
                  </div>

                </div>
            </div>
        <div class="col-md-9 mb-5">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
                <div class="col">
                <div class="card h-100 border shadow rounded-3">
                    <img src="img/card-images/1.webp" class="card-img-top p-5 m-1" alt="...">
                    <div class="card-body">
                        <h4 class="card-title mb-4">آچار فرانسه مدل V2</h4>
                        <p class="card-text ps-3 text-muted fs-6"><i class="bi bi-box-arrow-in-down text-sky-blue"></i> موجود در انبار</p>
                        <p class="card-text ps-3 text-dark fs-5 mb-0">۳۳۶,۷۰۰ تومان <span class="badge bg-danger fs-7">۹%</span></p>
                        <p class="card-text ps-3 text-dark fs-6 text-decoration-line-through mb-4">۳۷۱,۰۰۰ تومان</p>
                        <button type="button" class="btn btn-danger w-100">خرید</button>
                      </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100 border shadow rounded-3">
                    <img src="img/card-images/2.webp" class="card-img-top p-5 m-1" alt="...">
                    <div class="card-body">
                      <h4 class="card-title mb-4">آچار فرانسه مدل V5</h4>
                      <p class="card-text ps-3 text-muted fs-6"><i class="bi bi-box-arrow-in-down text-sky-blue"></i> موجود در انبار</p>
                      <p class="card-text ps-3 text-dark fs-5 mb-0">۸۰,۰۰۰ تومان</p>
                      <p class="card-text ps-3 text-dark fs-6 text-decoration-line-through mb-4">۸۰,۰۰۰ تومان</p>
                      <button type="button" class="btn btn-danger w-100">خرید</button>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100 border shadow rounded-3">
                    <img src="img/card-images/3.webp" class="card-img-top p-5 m-1" alt="...">
                    <div class="card-body">
                        <h4 class="card-title mb-4">آچار مدل X2</h4>
                        <p class="card-text ps-3 text-muted fs-6"><i class="bi bi-exclamation-circle text-danger"></i> تنها ۴ عدد باقی مانده</p>
                        <p class="card-text ps-3 text-dark fs-5 mb-0">۴۵۵,۰۰۰ تومان</p>
                        <p class="card-text ps-3 text-dark fs-6 text-decoration-line-through mb-4">۵۰۰,۰۰۰ تومان</p>
                        <button type="button" class="btn btn-danger w-100">خرید</button>
                      </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100 border shadow rounded-3">
                    <img src="img/card-images/4.webp" class="card-img-top p-5 m-1" alt="...">
                    <div class="card-body">
                        <h4 class="card-title mb-4">آچار مدل Z1</h4>
                        <p class="card-text ps-3 text-muted fs-6"><i class="bi bi-x-circle"></i> اتمام موجودی</p>
                        <p class="card-text ps-3 text-dark fs-5 mb-0">نامشخص</p>
                        <p class="card-text ps-3 text-dark fs-6 text-decoration-line-through mb-4">بدون تخفیف</p>
                        <button type="button" class="btn btn-secondary w-100" disabled>ناموجود</button>
                      </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card h-100 border shadow rounded-3">
                      <img src="img/card-images/5.webp" class="card-img-top p-5 m-1" alt="...">
                      <div class="card-body">
                        <h4 class="card-title mb-4">دم باریک</h4>
                        <p class="card-text ps-3 text-muted fs-6"><i class="bi bi-box-arrow-in-down text-sky-blue"></i> موجود در انبار</p>
                        <p class="card-text ps-3 text-dark fs-5 mb-0">۴۲,۵۰۰ تومان <span class="badge bg-danger fs-7">۱۵%</span></p>
                        <p class="card-text ps-3 text-dark fs-6 text-decoration-line-through mb-4">۵۰,۰۰۰ تومان </span></p>
                        <button type="button" class="btn btn-danger w-100">خرید</button>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100 border shadow rounded-3">
                      <img src="img/card-images/6.webp" class="card-img-top p-5 m-1" alt="...">
                      <div class="card-body">
                        <h4 class="card-title mb-4">سیم چین مدل y80</h4>
                        <p class="card-text ps-3 text-muted fs-6"><i class="bi bi-box-arrow-in-down text-sky-blue"></i> موجود در انبار</p>
                        <p class="card-text ps-3 text-dark fs-5 mb-0">۴۵,۵۰۰ تومان <span class="badge bg-danger fs-7">۹%</span></p>
                        <p class="card-text ps-3 text-dark fs-6 text-decoration-line-through mb-4">۵۰,۰۰۰ تومان </span></p>
                        <button type="button" class="btn btn-danger w-100">خرید</button>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100 border shadow rounded-3">
                      <img src="img/card-images/7.webp" class="card-img-top p-5 m-1" alt="...">
                      <div class="card-body">
                        <h4 class="card-title mb-4">سیم چین</h4>
                        <p class="card-text ps-3 text-muted fs-6"><i class="bi bi-x-circle"></i> اتمام موجودی</p>
                        <p class="card-text ps-3 text-dark fs-5 mb-0">نامشخص</p>
                        <p class="card-text ps-3 text-dark fs-6 text-decoration-line-through mb-4">بدون تخفیف</p>
                        <button type="button" class="btn btn-secondary w-100" disabled>ناموجود</button>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100 border shadow rounded-3">
                      <img src="img/card-images/8.webp" class="card-img-top p-5 m-1" alt="...">
                      <div class="card-body">
                        <h4 class="card-title mb-4">سیم چین مدل W400</h4>
                        <p class="card-text ps-3 text-muted fs-6"><i class="bi bi-box-arrow-in-down text-sky-blue"></i> موجود در انبار</p>
                        <p class="card-text ps-3 text-dark fs-5 mb-0">۴۵,۰۰۰ تومان <span class="badge bg-danger fs-7">۱۰%</span></p>
                        <p class="card-text ps-3 text-dark fs-6 text-decoration-line-through mb-4">۵۰,۰۰۰ تومان </span></p>
                        <button type="button" class="btn btn-danger w-100">خرید</button>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                  <div class="card h-100 border shadow rounded-3">
                    <img src="img/card-images/10.webp" class="card-img-top p-5 m-1" alt="...">
                    <div class="card-body">
                        <h4 class="card-title mb-4">دستگاه جوش</h4>
                        <p class="card-text ps-3 text-muted fs-6"><i class="bi bi-box-arrow-in-down text-sky-blue"></i> موجود در انبار</p>
                        <p class="card-text ps-3 text-dark fs-5 mb-0">۴۷۵,۰۰۰ تومان <span class="badge bg-danger fs-7">۵%</span></p>
                        <p class="card-text ps-3 text-dark fs-6 text-decoration-line-through mb-4">۵۰۰,۰۰۰ تومان </span></p>
                        <button type="button" class="btn btn-danger w-100">خرید</button>
                      </div>
                  </div>
                </div>
              </div>
        </div>
      </main>
      <div class="bg-sky-blue">
        <footer class="py-4 container">
          <div class="row">
            <div class="col">
                <p class="text-center">برای استفاده از این قالب، حتماً باید از طراح اجازه بگیرید و بدون اطلاع ایشان غیرقانونی محسوب می شود.</p>
            </div>

          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between py-2 my-4 border-top">
            <a class="navbar-brand" href="index.html"><img src="img/logo.svg" class="img-fluid" alt="" width="150px"></a>
            <p>Designed by <a class="footer-link" href="http://github.com/Irania9O">@Irania9O</a></p>
          </div>
        </footer>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>